# Virtual environments
rikaenv/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Models & data (DVC-managed later)
*.h5
*.keras
*.pt
*.pth
*.onnx

# IDE / OS
.idea/
.vscode/
.DS_Store

# MLflow (later)
mlruns/

# Local training datasets and artifacts
data/
escriptorium/
*.safetensors
*.ckpt
*.arrow
